#inputContainerAll {
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
}

#naamInputContainer {
    margin-bottom: 1em;
}

#submitButton {
    width: 13em;
    margin-top: 3em;
}